memory.json
*.memory.json
node_modules/
.*/
!.jixo/
!.github/
*.bak
.env
.jixo.env
dist/
bundle/
target/
*.tsbuildinfo
.DS_Store
_coverage/
*.coverage
*.gen.mbt
*.prompt-gen.md
!.clinerules/
packages/cli/src/prompts.json
